<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
<div class="container">
  <div class="image-side"></div>
  <div class="form-side">
    <h2>LOGIN</h2>
    <form action="/login" method="post" th:object="${loginRequest}">
      <label for="login">Login</label>
      <input type="text" id="login" th:field="*{login}" placeholder="Login" required>

      <label for="password">Password</label>
      <input type="password" id="password" th:field="*{password}" required autocomplete="current-password">

      <button type="submit" class="sign-in-btn">Login</button>

      <div th:if="${param.error}" th:text="'Invalid email or password'" class="error-message"></div>

      <a href="/register" class="login-link">Sign up</a>
    </form>
  </div>
</div>
</body>
</html>
